/* Styles for homepage sections */


/********************
Sticky footer
********************/

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}


.page-content {
  flex: 1 auto;
} /* Make the main content area grow to take up leftover space. 'auto' was added as it apparently makes it compatible with IE 10.*/


.about {
    padding-top: 122px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.about-text {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}



//----------------------------------------------
//  z_index_layers()
//  @description: Creates increasing z-index layers, needed for clip rect effect
//----------------------------------------------
@mixin z_index_layers($layers: 7){
@for $i from 1 through $layers {
  &:nth-child(#{$i}):not(.site-menu) {
   z-index: 1 + $i;
  }
 }
}



//----------------------------------------------
//  Borders and animation
//----------------------------------------------
.border-top {
    width: 100%;
    height: 0.75em;
    top: 0;
    width: 0;
    animation: ani-width ease-in-out 0.5s 0s both;

  &:after {
    content: '';
    bottom: 0;
    width: 100%;
    height: 0.75em;
    right: 0;
    animation: ani-width ease-in-out 0.5s 1s both;
  }
}
.border-left {
    height: 100%;
    width: 0.75em;
    left: 0;
    bottom: 0;
    animation: ani-height ease-in-out 0.5s 1.5s both;

   &:after {
    content: '';
    right: 0;
    top: 0;
    height: 100%;
    width: 0.75em;
    animation: ani-height ease-in-out 0.5s 0.5s both;
  }
}
.border-top,
.border-top:after,
.border-left,
.border-left:after {
  position: fixed;
  z-index: 9;
  background-color: #fff;
}

h2{
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 1.75em;
  line-height: 1.2;
  //font-size: 9vmin;
  @media (min-width: 32em){
    font-size: 4em;
  }
}

hr.sep{
  border: 0px;
  height: 1px;
  background: #fff;
  margin: 1.4em auto;
  width: 3em;
}


//----------------------------------------------
//  apply z-index mixin
//----------------------------------------------
.projects-wrapper > section, .projects-wrapper > article{
  @include z_index_layers(8);
}

//----------------------------------------------
//  masts
//----------------------------------------------
.mast{
  position: relative;
  display:flex;
  align-items:center;
  height: 100vh;
  width: 100%;
  color: #fff;
  margin-bottom: 0.1em;

  &:after{
    content:'';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
  }

  a, a:visited, a:active{
    color: rgba(255,255,255,0.7);
    transition: all 0.2s ease;
    &:hover{
      text-decoration: none;
      color: rgba(255,255,255,1);
      transition: all 0.2s ease;
      hr {background: rgba(255,255,255,1);}
    }
  }

  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-size: cover;
    background-color: #111;
    animation: fade-in 1s ease both;
  }
  &__header{
    z-index: 5;
    position: fixed;
    width: 100%;
    top: 45%;
    text-align:center;
    animation: fade-in 2s 1.5s ease both;
  }

  &__pretitle{
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    // font-family: 'Oswald';
  }
}

//----------------------------------------------
//  animation: fade-in
//----------------------------------------------
@keyframes fade-in{
  0%{
    opacity:0;
  }
  100%{
    opacity: 1;
  }
}

//----------------------------------------------
//  animation: animate border width
//----------------------------------------------
@keyframes ani-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
//----------------------------------------------
//  animation: animate border height
//----------------------------------------------
@keyframes ani-height {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
