/* Styles for homepage sections */




/*
Split pane hero
 */
 // Maximum aspect ratio beforem switching to a vertical split.
 $ASPECT_W: 4;
 $ASPECT_H: 3;

 section.hero{
 	display: flex;
  flex-wrap: wrap;
}
 section.hero .half{
 	width: 100%;
 	flex-basis: $ASPECT_W / ($ASPECT_W + $ASPECT_H) * 100vh;
 	flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.half-content{
  position: relative;
  padding: 10em 0em;
  font-size: 2em;
}
.half-content p{
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	margin: 0;
	text-align: center;
}

.hero-left{
  background-color: tomato;
}
.hero-right{
  background-color: invert(tomato);
}

/*
Locations
 */

#map{
  width: 100%;
  height: 600px;
}

/*
Artists
 */
section.artists{
  display: flex;
  flex-direction: column;
  padding: 2em 0em;
  max-width: 800px;
  margin: 0 auto;
}
.artist-row{
  display: flex;
  margin: 2em 0em;
  @include media-query($on-palm) {
    flex-direction: column;
    .artist-text{
      text-align: center;
    }
  }
}
.artist-row:nth-child(even){
  flex-direction: row-reverse;
  .artist-text{
    text-align: right;
  }
  @include media-query($on-palm) {
    flex-direction: column;
    .artist-text{
      text-align: center;
    }
  }
}

.artist-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0em 2em;
}
.artist-avatar{
  border-radius: 100%;
  max-width: 200px;
  max-height: 200px;
  @include media-query($on-palm) {
    margin:0 auto;
  }
}

/*
Contact
 */

section.contact{
  background: whitesmoke;
}
.contact-content{
  padding: 5em 0em;
  text-align: center;
}

/********************
Sticky footer
********************/

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.page-content {flex: 1 auto;} /* Make the main content area grow to take up leftover space. 'auto' was added as it apparently makes it compatible with IE 10.*/
