/**
 * Site header
 */

.site-header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    // height: 70px;
    padding: 30px 40px;
    position: fixed;
    left: 0;
    right: 0;
    background: $color-background;
    z-index: 3;
    transition: all 0.4s ease;
}
.site-header .wrapper{
  max-width: 1400px;
  margin: 0 auto;
}

.site-intro {
    max-width: 600px;
    text-align: center;
    margin: 2em 0em;
}

.small-header{
  padding: 0px 20px;
  transition: all 0.4s ease;
  .site-intro {
    opacity: 0;
  }
  .site-hero {
    height: 150px;
  }
  .site-logo{
    height: 60px;
    opacity: 0;
    transition: all 0.4s ease;
  }

  @include media-query($on-palm) {
    padding: 5px 5px;
  }
}

.site-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
    align-items: center;
    transition: all 0.2s ease;
    position: relative;
}

.site-title {
    margin-bottom: 0;
    float: left;
    transition: all 0.2s ease;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1em;
    font-weight: 500;
    line-height: 56px;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-logo{
  height: 200px;
  transition: all 0.2s ease;

}
.site-nav {
    float: right;
    line-height: 56px;
    text-align: right;

    .menu-icon {
        display: none;
    }

    .page-link {
        letter-spacing: 0.1em;
        color: $text-color;
        line-height: $base-line-height;
        margin-left: 20px;
        font-weight: 700;
        opacity: 0.2;
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
          opacity: 0.6;
        }

    }

    @include media-query($on-palm) {
        display: none;
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit;
    background: #272F2F;
    display: flex;
}
.site-footer .wrapper{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col ul li a {
    color: white;
    font-weight: 500;
    &:hover{
      text-decoration: none;
      opacity: 0.7;
    }
    @include media-query($on-palm) {
      display: block;
      margin-top: $spacing-unit / 2;
    }
    @include media-query($on-tablet) {
      display: block;
      margin-top: 5px;
    }
}
.footer-logo{
  margin: 0;
  @include media-query($on-palm) {
    display: none;
  }
}

.contact-list,
.navigation-list,
.social-media-list,
.description-rss-list {
    list-style: none;
    margin: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    // margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(25% - (#{$spacing-unit}));
    width:         calc(25% - (#{$spacing-unit}));
    text-align: left;
}

.footer-col-2 {
    width: -webkit-calc(25% - (#{$spacing-unit}));
    width:         calc(25% - (#{$spacing-unit}));
    text-align: left;
}

.footer-col-3 {
    width: -webkit-calc(25% - (#{$spacing-unit}));
    width:         calc(25% - (#{$spacing-unit}));
    text-align: center;
}

.footer-col-4 {
    width: -webkit-calc(25% - (#{$spacing-unit}));
    width:         calc(25% - (#{$spacing-unit}));
    text-align: right;
}

@include media-query($on-tablet) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit}));
        width:         calc(50% - (#{$spacing-unit}));
    }
    .footer-col-2 {text-align: right;}

    .footer-col-3,
    .footer-col-4 {
        width: -webkit-calc(50% - (#{$spacing-unit}));
        width:         calc(50% - (#{$spacing-unit}));
    }
    .footer-col-3 {text-align: left;}
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit}));
        width:         calc(100% - (#{$spacing-unit}));
        text-align: center;
    }
}



/**
 * Page content
 */
.page-content {
    // padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


// overlay
//
//
.overlay {
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 110%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10000;
  opacity: 0;
  background: #4D4D4D;
  transition: opacity 200ms linear, bottom 0s linear 200ms;
}
.overlay-open {
  bottom: 0;
  opacity: 1;
  transition: opacity 200ms linear, bottom 0s linear;
}
.overlay-view {
  overflow: hidden;
}
.overlay-close {
    color: rgba(0,0,0,0.2);
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 9;
    right: 0;
    margin: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    font-size: 3em;
    font-weight: 100;
    cursor: pointer;
    transition: color 0.2s ease;
    &:hover{
      color: rgba(0,0,0,0.4);
      transition: color 0.2s ease;
    }
}
.overlay-inner {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    & > * {
      pointer-events: all;
    }
    & form{
      background: rgba(0,0,0,0.1);
      padding: 2em 4em;
    }
}
