/*
The main SCSS file for everything, yep
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700';
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font: 300 16px/1.5 "Libre Baskerville", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #EBEBEB;
  -webkit-text-size-adjust: 100%;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  font-size: 1.2em; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: calc(100%);
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0; }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-header {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  transition: all 0.4s ease; }
  @media screen and (max-width: 580px) {
    .site-header {
      position: static; } }

.site-header .wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
  position: relative; }

.site-intro {
  max-width: 420px;
  text-align: left;
  z-index: 0;
  transition: all 0.4s ease;
  font-size: 0.9em;
  line-height: 1.7em;
  font-family: 'Libre Baskerville';
  font-weight: 400;
  opacity: 0.8; }
  .site-intro a {
    color: inherit;
    font-weight: bolder; }

.light .wrapper .site-title {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease; }
  .light .wrapper .site-title:before {
    background: white; }

.light .wrapper .site-icons {
  transition: all 0.2s ease; }
  .light .wrapper .site-icons a img {
    transition: all 0.2s ease;
    -webkit-filter: invert(100%);
            filter: invert(100%);
    opacity: 1; }
  .light .wrapper .site-icons [data-tooltip]:before {
    color: rgba(255, 255, 255, 0.5); }

.light .wrapper .project-anchors {
  transition: all 0.2s ease; }
  .light .wrapper .project-anchors a img {
    transition: all 0.2s ease;
    -webkit-filter: invert(100%);
            filter: invert(100%); }
  .light .wrapper .project-anchors [data-tooltip]:before {
    color: rgba(255, 255, 255, 0.5); }

.site-intro-fadeout {
  opacity: 0;
  transition: all 0.4s ease; }

.site-tagline-fadeout {
  opacity: 0;
  transition: all 0.4s ease; }

.small-header {
  padding: 0px 20px;
  transition: all 0.4s ease; }
  .small-header .site-hero {
    height: 150px; }
  .small-header .site-logo {
    height: 60px;
    opacity: 0;
    transition: all 0.4s ease; }
  @media screen and (max-width: 580px) {
    .small-header {
      padding: 5px 5px; } }

.site-hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 95vh;
  max-height: 1000px;
  max-width: 1440px;
  align-items: flex-start;
  transition: all 0.2s ease;
  position: relative;
  margin: 0 auto;
  overflow: visible;
  width: 100%;
  z-index: -1;
  background-size: cover; }
  .site-hero p.hero-text {
    position: fixed;
    font-size: 6em;
    font-weight: 700;
    max-width: 960px;
    line-height: 1.1em;
    font-family: 'Playfair Display';
    box-sizing: border-box;
    top: 300px;
    padding-left: 30px;
    transition: all 0.4s ease; }
    .site-hero p.hero-text span {
      opacity: 0.1; }

.hero-text-fadeout {
  opacity: 0;
  transition: all 0.4s ease; }

@media (max-height: 800px) {
  .site-hero {
    position: relative;
    height: 400px;
    display: block;
    max-height: 100%;
    top: 0; }
    .site-hero p.hero-text {
      position: static;
      display: block;
      font-size: 4em;
      margin: 0;
      padding: 30px;
      margin-top: 20vw;
      padding-top: 0;
      margin-bottom: 60px; } }
    @media screen and (max-height: 800px) and (max-width: 580px) {
      .site-hero p.hero-text {
        font-size: 2.7em; } }

@media (min-height: 800px) and (max-height: 1200px) {
  .site-hero {
    position: relative;
    height: 400px;
    display: block;
    max-height: 100%;
    top: 0; }
    .site-hero p.hero-text {
      position: static;
      display: block;
      font-size: 4em;
      margin: 0;
      padding: 30px;
      margin-top: 200px;
      padding-top: 0; } }

@media (min-height: 1200px) {
  .site-hero p.hero-text {
    max-width: 960px;
    line-height: 1.1em;
    top: 300px; } }

.project-anchors {
  width: 100%;
  position: absolute;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: none;
  right: 30px; }
  .project-anchors a {
    pointer-events: auto; }
  .project-anchors a img {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    opacity: 0.05;
    transition: all 0.4s ease; }
  .project-anchors a:hover img {
    opacity: 0.3;
    transition: all 0.4s ease; }
  @media screen and (max-width: 580px) {
    .project-anchors {
      display: none; } }

.project-anchors-fadeout {
  opacity: 0;
  transition: all 0.4s ease; }

.hero-image-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0; }
  .hero-image-wrapper img {
    position: absolute;
    top: -40px;
    right: 0;
    max-width: 600px;
    height: auto; }
  @media screen and (max-width: 768px) {
    .hero-image-wrapper {
      display: none; } }

.site-title {
  margin-bottom: 0;
  transition: all 0.2s ease;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.2em;
  font-weight: 500;
  opacity: 1;
  transition: all 0.2s ease;
  font-family: 'Raleway'; }
  .site-title, .site-title:visited {
    color: #111; }
  .site-title:hover {
    opacity: 0.8;
    text-decoration: none;
    transition: all 0.2s ease; }

.site-title:before {
  content: '';
  height: 3px;
  width: 40px;
  background: black;
  position: absolute;
  margin-top: 45px;
  opacity: 0.1;
  transition: all 0.2s ease; }

.site-icons {
  width: 40px;
  margin-top: 30px;
  margin-left: -1px;
  transition: all 0.2s ease; }
  .site-icons > a > img {
    margin-top: 0px;
    transition: all 0.2s ease; }
  .site-icons > a {
    opacity: 0.2;
    transition: all 0.2s ease; }
    .site-icons > a:hover {
      opacity: 0.8;
      transition: all 0.2s ease; }

/* TOOLTIP CSS ONLY*/
.site-icons {
  /* Hide the tooltip content by default */
  /* Position tooltip above the element */ }
  .site-icons [data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
    height: 50px; }
  .site-icons [data-tooltip]:before,
  .site-icons [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    pointer-events: none; }
  .site-icons [data-tooltip]:before {
    position: absolute;
    left: 120%;
    margin-top: 11px;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.8);
    content: attr(data-tooltip);
    text-align: left; }

.project-anchors {
  /* Hide the tooltip content by default */
  /* Position tooltip above the element */ }
  .project-anchors [data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer; }
  .project-anchors [data-tooltip]:before,
  .project-anchors [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    pointer-events: none; }
  .project-anchors [data-tooltip]:before {
    position: absolute;
    left: -200%;
    margin-top: 150%;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
    width: 150px;
    color: rgba(0, 0, 0, 0.2);
    content: attr(data-tooltip);
    text-align: center; }

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1; }

.anchor-helper {
  pointer-events: none;
  height: 200%;
  background: transparent;
  position: relative;
  z-index: 9; }

.site-tagline {
  font-family: 'Playfair Display', serif;
  color: #111;
  margin-top: 5px;
  margin-bottom: 50px; }

.site-logo {
  height: 200px;
  transition: all 0.2s ease; }

.site-nav {
  float: right;
  line-height: 56px;
  text-align: right; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    letter-spacing: 0.1em;
    color: #111;
    line-height: 1.5;
    margin-left: 20px;
    font-weight: 700;
    opacity: 0.2;
    text-transform: uppercase;
    text-decoration: none; }
    .site-nav .page-link:hover {
      opacity: 0.6; }
  @media screen and (max-width: 580px) {
    .site-nav {
      display: none;
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #EBEBEB;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px;
  background: #272F2F;
  display: flex; }

.site-footer .wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.footer-col ul li a {
  color: white;
  font-weight: 500; }
  .footer-col ul li a:hover {
    text-decoration: none;
    opacity: 0.7; }
  @media screen and (max-width: 580px) {
    .footer-col ul li a {
      display: block;
      margin-top: 15px; } }
  @media screen and (max-width: 768px) {
    .footer-col ul li a {
      display: block;
      margin-top: 5px; } }

.footer-logo {
  margin: 0; }
  @media screen and (max-width: 580px) {
    .footer-logo {
      display: none; } }

.contact-list,
.navigation-list,
.social-media-list,
.description-rss-list {
  list-style: none;
  margin: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282; }

.footer-col {
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.footer-col-1 {
  width: calc(25% - (30px));
  text-align: left; }

.footer-col-2 {
  width: calc(25% - (30px));
  text-align: left; }

.footer-col-3 {
  width: calc(25% - (30px));
  text-align: center; }

.footer-col-4 {
  width: calc(25% - (30px));
  text-align: right; }

@media screen and (max-width: 768px) {
  .footer-col-1,
  .footer-col-2 {
    width: calc(50% - (30px)); }
  .footer-col-2 {
    text-align: right; }
  .footer-col-3,
  .footer-col-4 {
    width: calc(50% - (30px)); }
  .footer-col-3 {
    text-align: left; } }

@media screen and (max-width: 580px) {
  .footer-col {
    float: none;
    width: calc(100% - (30px));
    text-align: center; } }

/**
 * Page content
 */
.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 1024px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 1024px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 1024px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 1024px) {
      .post-content h4 {
        font-size: 18px; } }

.overlay {
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 110%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10000;
  opacity: 0;
  background: #4D4D4D;
  transition: opacity 200ms linear, bottom 0s linear 200ms; }

.overlay-open {
  bottom: 0;
  opacity: 1;
  transition: opacity 200ms linear, bottom 0s linear; }

.overlay-view {
  overflow: hidden; }

.overlay-close {
  color: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 9999;
  right: 0;
  margin: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  font-size: 3em;
  font-weight: 100;
  cursor: pointer;
  transition: color 0.2s ease; }
  .overlay-close:hover {
    color: rgba(0, 0, 0, 0.4);
    transition: color 0.2s ease; }

.overlay-inner {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  pointer-events: none; }
  .overlay-inner > * {
    pointer-events: all; }
  .overlay-inner form {
    background: rgba(0, 0, 0, 0.1);
    padding: 2em 4em; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

/* Styles for homepage sections */
/********************
Sticky footer
********************/
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh; }

.page-content {
  flex: 1 auto; }

/* Make the main content area grow to take up leftover space. 'auto' was added as it apparently makes it compatible with IE 10.*/
.about {
  padding-top: 122px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px; }

.about-text {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px; }

section.mast:nth-child(8) {
  margin-bottom: 300px; }
  @media (max-height: 1000px) {
    section.mast:nth-child(8) {
      margin-bottom: 0; } }

h2 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 1.75em;
  line-height: 1.2; }
  @media (min-width: 32em) {
    h2 {
      font-size: 4em; } }

hr.sep {
  border: 0px;
  height: 1px;
  background: #fff;
  margin: 1.4em auto;
  width: 3em; }

.projects-wrapper > section:nth-child(1):not(.site-menu), .projects-wrapper > article:nth-child(1):not(.site-menu) {
  z-index: 2; }

.projects-wrapper > section:nth-child(2):not(.site-menu), .projects-wrapper > article:nth-child(2):not(.site-menu) {
  z-index: 3; }

.projects-wrapper > section:nth-child(3):not(.site-menu), .projects-wrapper > article:nth-child(3):not(.site-menu) {
  z-index: 4; }

.projects-wrapper > section:nth-child(4):not(.site-menu), .projects-wrapper > article:nth-child(4):not(.site-menu) {
  z-index: 5; }

.projects-wrapper > section:nth-child(5):not(.site-menu), .projects-wrapper > article:nth-child(5):not(.site-menu) {
  z-index: 6; }

.projects-wrapper > section:nth-child(6):not(.site-menu), .projects-wrapper > article:nth-child(6):not(.site-menu) {
  z-index: 7; }

.projects-wrapper > section:nth-child(7):not(.site-menu), .projects-wrapper > article:nth-child(7):not(.site-menu) {
  z-index: 8; }

.projects-wrapper > section:nth-child(8):not(.site-menu), .projects-wrapper > article:nth-child(8):not(.site-menu) {
  z-index: 9; }

.projects-wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.mast__header {
  max-width: 1440px; }

.mast {
  max-height: 700px; }

.hidden {
  display: none; }

.mast {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #EBEBEB; }
  .mast:after {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); }
  .mast a, .mast a:visited, .mast a:active {
    color: #EBEBEB;
    transition: all 0.2s ease; }
    .mast a:hover, .mast a:visited:hover, .mast a:active:hover {
      text-decoration: none;
      color: white;
      transition: all 0.2s ease; }
      .mast a:hover hr, .mast a:visited:hover hr, .mast a:active:hover hr {
        background: #EBEBEB; }
  .mast__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-size: cover;
    background-position: center center;
    background-color: #111;
    animation: fade-in 1s ease both; }
  .mast__header {
    z-index: 5;
    position: fixed;
    width: 100%;
    top: 45%;
    text-align: center;
    visibility: hidden;
    animation: fade-in 2s 1.5s ease both; }
    @media screen and (max-width: 768px) {
      .mast__header {
        position: relative;
        visibility: visible;
        height: 100%; } }
  .mast__pretitle {
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-family: 'Raleway'; }
    @media screen and (max-width: 580px) {
      .mast__pretitle {
        padding: 0 1em; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    visibility: visible; } }

/**
 * Posts
 */
.post-header {
  font-family: "Libre Baskerville", Helvetica, Arial, sans-serif;
  margin-bottom: 30px; }

.post-title {
  font-family: 'Playfair Display';
  letter-spacing: -1px;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 30px; }
  @media screen and (max-width: 1024px) {
    .post-title {
      font-size: 2em; } }

.post-content {
  font-family: "Libre Baskerville", Helvetica, Arial, sans-serif;
  margin-bottom: 30px; }
  .post-content h1::before {
    margin-left: 0em;
    opacity: 0; }
  .post-content h1:hover::before {
    content: "\00b6";
    font-family: monospace;
    position: absolute;
    opacity: 0.1;
    margin-left: -1em; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 1024px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 1024px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 1024px) {
      .post-content h4 {
        font-size: 18px; } }

.post-content, .post-header {
  max-width: 640px;
  margin: 0 auto;
  padding: 0em 30px;
  margin-right: 7vw; }

.post {
  max-width: 1440px;
  margin: 0 auto; }

.post-header {
  margin-top: 2em; }
  .post-header h1 {
    font-weight: 700; }

.post-hero img {
  width: 100%;
  -webkit-filter: none;
          filter: none; }
  @media screen and (max-width: 1900px) {
    .post-hero img {
      -webkit-filter: url("#sharpBlur");
              filter: url("#sharpBlur"); } }

article.post {
  margin-top: 15em; }
  @media screen and (max-width: 580px) {
    article.post {
      margin-top: 10em;
      overflow-x: hidden; } }

.post {
  margin-bottom: 10em; }

.post-meta {
  display: none; }

.post-tags {
  margin-left: -0.2em;
  margin-bottom: 3em;
  visibility: hidden;
  display: none; }
  @media screen and (max-width: 580px) {
    .post-tags {
      display: block; } }

.post-tags span {
  visibility: visible;
  background: rgba(0, 0, 0, 0.07);
  padding: 0.4em 0.8em;
  margin-right: 0.7em;
  border-radius: 100px;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4); }

.post-content p {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.9;
  margin-bottom: 1em;
  margin-top: 2em;
  color: #333333;
  display: flex;
  justify-content: center; }

.post-content h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.2em;
  font-weight: 600;
  opacity: 1;
  transition: all 0.2s ease;
  font-family: 'Raleway';
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-top: 60px; }

img.post-content-image {
  margin: 10px 0em;
  cursor: pointer;
  width: 120%; }
  @media screen and (max-width: 1900px) {
    img.post-content-image {
      width: 100%; } }

img.post-content-image:hover {
  opacity: 0.9;
  transition: opacity 0.2s ease; }

@media screen and (max-width: 1900px) {
  img.post-content-image {
    max-width: none; } }

img.post-content-image-expanded {
  width: 150% !important;
  max-width: none !important;
  margin: 0;
  opacity: 1; }
  img.post-content-image-expanded:hover {
    opacity: 1; }
  @media screen and (max-width: 1900px) {
    img.post-content-image-expanded {
      width: 140% !important; } }

.post-link {
  margin: 0em 0 0.5em 0;
  font-size: 0.9em;
  opacity: 0.6;
  display: inline-block;
  padding-bottom: 1px; }
  .post-link:hover {
    padding-bottom: 0;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.post-content p a {
  font-style: italic; }
  .post-content p a:hover {
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.twitter-tweet {
  width: 100% !important;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  margin: 3em 0em; }

/*# sourceMappingURL=style.css.map */
